<div>
    <h1>{{ reviewPartial }}</h1>
    <p> AQUI VA EL PARTIAL!:</p>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Game Review</h5>
          <form>
            <div class="mb-3">
              <label for="gameTitle" class="form-label">Game Title</label>
              <input type="text" class="form-control" id="gameTitle" placeholder="Enter the title of the game">
            </div>
            <div class="mb-3">
              <label for="rating" class="form-label">Rating (stars)</label>
              <input type="text" class="form-control" id="rating" placeholder="Enter the rating stars">
            </div>
            <div class="mb-3">
              <label for="reviewContent" class="form-label">Review Content</label>
              <textarea class="form-control" id="reviewContent" rows="3" placeholder="Enter your review content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post review</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>