  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">About</h1>
      <p class="text-center">Description of Web Page/ Reason for creating platform, WHO ARE WE: texto y centro</p>

      <h2 class="text-center mt-5">Created By</h2>

      <div class="row justify-content-center">
        <div class="col-md-3 text-center">
          <img src="https://i.stack.imgur.com/l60Hf.png" alt="Fernando" class="circle-img mb-3">
          <p>Fernando</p>
        </div>
        <div class="col-md-3 text-center">
          <img src="https://i.stack.imgur.com/l60Hf.png" alt="Bryan" class="circle-img mb-3">
          <p>Bryan</p>
        </div>
        <div class="col-md-3 text-center">
          <img src="https://i.stack.imgur.com/l60Hf.png" alt="Jonathan" class="circle-img mb-3">
          <p>Jonathan</p>
        </div>
        <div class="col-md-3 text-center">
          <img src="https://i.stack.imgur.com/l60Hf.png" alt="Poncho" class="circle-img mb-3">
          <p>Poncho</p>
        </div>
      </div>
    </div>
  </div>