<form id="SearchForm">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Search Reviews</h5>
          <form>
            <div class="mb-3">
              <label for="gameName" class="form-label">Search Reviews by Game Name</label>
              <input type="text" class="form-control" id="gameName" placeholder="Enter game name">
            </div>
            <div class="mb-3">
              <label for="rating" class="form-label">Search Reviews by Rating</label>
              <input type="text" class="form-control" id="rating" placeholder="Enter rating">
            </div>
            <div class="mb-3">
              <label for="user" class="form-label">Search Reviews by User</label>
              <input type="text" class="form-control" id="user" placeholder="Enter user">
            </div>
            <button type="submit" class="btn btn-primary">Search!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</form>

  {{#if sGameQuery}}

  {{> reviewPartial}}
  
{{/if}}

<script id="reviewPartialTemplate" type="text/x-handlebars-template">
        {{#each reviews}}
            <div class="card">
                <!-- Your review card content here -->
            </div>
        {{/each}}
    </script>

    <script src="/js/searchForms.js"></script>
