  <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Game Name<span id="gameName"></span></h2>
            <div class="row">
              <div class="col-md-6">
                <div id="starRating">
                  <!-- Icono de estrella para una calificación de 5 estrellas -->
                  <span class="fas fa-star" id="star1"></span>
                  <span class="fas fa-star" id="star2"></span>
                  <span class="fas fa-star" id="star3"></span>
                  <span class="fas fa-star" id="star4"></span>
                  <span class="fas fa-star" id="star5"></span>
                </div>
              </div>
              <div class="col-md-6">
                <p>Review Content <span id="reviewContent"></span></p>
              </div>
                <div class="col-md-6">
                <p>Date: <span id="reviewDate"></span></p>
              </div>
                <div class="col-md-6">
                <p>Review by <span id="reviewer"></span></p>
              </div>
            </div>
          </div>
        </div>
          <div class="card-body mt-3">
            <h3 class="card-title">Comments Section</h3>
            <div class="mb-3">
              <label for="commentContent" class="form-label">Comment by Bryan</label>
              <textarea class="form-control" id="commentContent" rows="3" placeholder="Enter your comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
    </div>