

 <h2>Upload Profile Picture</h2>
  <form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="fileInput" name="file">
    <button type="submit">Upload</button>
  </form>
  <div id="imagePreview"></div>


<script src="/js/uploadPhoto.js"></script>