
    <div class="card-body mt-3">
      <h3 class="card-title">Comments Section</h3>
      <div class="mb-3">
        <label for="commentContent" class="form-label">Comment by Bryan</label>
        <textarea class="form-control" id="commentContent" rows="3" placeholder="Enter your comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </div>
</div>